.homeSection {
    /* flex: 1; */
    height: 800px;
    padding: 10px;
    width: 100%;
    /* overflow-y: scroll; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../../../public/homeBackground.jpeg");
    background-size: cover;
    color: white
}

.title {
    font-weight: 600;
    font-size: 3rem;
}