.projects-section {
    /* height: 800px; */
    background-color: white;
}

.projects-intro {
    padding: 100px 100px 0px 100px;
    text-align: center;
}

.projects-aboutHeader {
    font-size: 2rem;
    font-weight: 600;
}

.projects-list {
    padding: 50px;
    border: 2px solid orange;
}

.project-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.project-row>* {
    /* width: 50%; */
    padding: 25px;
}

.project-desc * {
    padding: 10px;
}

.project-row-header {
    font-size: 1.25rem;
    font-weight: 600;
}

.project-row-text {
    padding-bottom: 40px;
}

.project-button {
    background-color: #FF9B2F;
    padding: 20px 40px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;

}

.project-button:hover {
    background-color: #FF9B2F;
    padding: 20px 40px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 700;

}