.aboutMe {
    /* height: 800px; */
    background-color: whitesmoke;
}

.aboutMe-intro {
    padding: 100px 100px 0px 100px;
    text-align: center;
}

.aboutMe-aboutHeader {
    font-size: 2rem;
    font-weight: 600;
}

.aboutMe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
}

.aboutMe-section {
    width: 50%;
    height: 400px;
    padding: 5px 50px;
    border: 2px solid pink;

}

.aboutMe-desc-header {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 25px;
}

.aboutMe-desc-skill-header {
    font-weight: 500;

}

.aboutMe-desc-skill-list {
    display: flex;
}

.skill {
    color: white;
    font-size: 0.75rem;
    background-color: #FF621A;
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.aboutMe-certs {
    text-align: center;
}

.aboutMe-certs-header {
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 25px;
}

.aboutMe-certs-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}