* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #024B62;
    padding: 20px 20px;
    color: #ffffff;
    width: 100%;
}

.navbar-logo {
    font-size: 1rem;
    font-weight: 600;
}

.navbar-logo:hover {
    color: #FF621A
}

.navbar-logo .navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    margin: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    color: white;

}

.navbar-links a:hover {
    color: #FF9B2F
}

.menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* @media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    .navbar-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
} */